<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly">
        <NotFoundContent>
            <h1>Page not found</h1>
            <p>If you are lost, thats ok.</p>
            <p>Many people lose their way</p>
        </NotFoundContent>
    </Router>
</CascadingAuthenticationState>
